# EmailJS Configuration
# Get these values from https://www.emailjs.com/
VITE_EMAILJS_SERVICE_ID=service_6isl6og
VITE_EMAILJS_PUBLIC_KEY=JpRpxvS49-LTD5KMV

VITE_EMAILJS_VERIFICATION_TEMPLATE_ID=template_5ddyq11
VITE_EMAILJS_PASSWORD_RESET_TEMPLATE_ID=template_dj89rjm

# API Configuration
VITE_API_URL=http://localhost:5000/api

# Other Configuration
VITE_SITE_URL=http://localhost:5173
VITE_SITE_NAME=TruView
